<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.com.weiwei.dao.UserMapper">

    <resultMap id="userMap" type="web.com.weiwei.domain.UserDO">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <sql id="userColumns">
        id, username, password
    </sql>

    <select id="selectByUsername" parameterType="String" resultMap="userMap">
        SELECT
        <include refid="userColumns"/>
        FROM test
        <where>
            <if test="name != null">
                username = #{name}
            </if>
        </where>
    </select>

    <update id="updateByUsername" parameterType="Map">
        UPDATE test
        <set>
            <if test="user.username != null">
                username = #{user.username},
            </if>
            <if test="user.password != null">
                password = #{user.password},
            </if>
        </set>
        <where>
            <if test="name != null">
                username = #{name}
            </if>
        </where>
    </update>

    <delete id="deleteByUsername" parameterType="String">
        DELETE FROM test
        WHERE
            username = #{username}
    </delete>

    <insert id="insert" parameterType="web.com.weiwei.domain.UserDO">
        INSERT INTO test (username, password)
        VALUES (
            #{username}, #{password}
        )
    </insert>

</mapper>
