<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 引用JavaConfig -->
    <bean class="com.config.ScopeTestConfiguration"/>

    <context:component-scan base-package="com.weiwei">
        <!-- 扫描时排除带有@Controller、@RestController注解的类 -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    </context:component-scan>

    <!-- 配置声明式事务支持，仅支持同一上下文环境中使用了事务注解的类或方法，当前为根应用上下文，
         扫描并注册了除Controller以外的类，所以并不能支持Controller中的事务注解（通常也不建议在Controller中使用事务） -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 开启事务注解的支持，引用上面配置的事务管理器 -->
    <tx:annotation-driven transaction-manager="txManager"/>

    <!-- 配置SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置MyBatis扫描Mapper.xml文件 -->
        <property name="mapperLocations" value="classpath:mybatis/com/weiwei/mapper/*Mapper.xml"/>
    </bean>

    <!-- 配置MyBatis扫描DAO接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.weiwei.dao"/>
        <!-- 如果配置该属性，则DAO接口只有使用了对应注解，才会被加载 -->
        <!-- <property name="annotationClass" value="org.apache.ibatis.annotations.Mapper"/> -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>