<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.weiwei.controller" use-default-filters="false">
        <!-- 默认会扫描@Component、@Repository、@Service、@Controller、@RestController等所有注解，需设置use-default-filters为false -->
        <!-- 只扫描带有@Controller、@RestController注解的类， -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    </context:component-scan>

    <!-- 该标签如果不配置，也可以正常处理请求映射，原因可Debug DispatcherServlet的源码，它会从DispatcherServlet.properties加载默认配置 -->
    <mvc:annotation-driven/>
</beans>